* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /*Colors*/
  --text-color-pale-violet: hsl(276, 100%, 81%);
  --text-color-moderate-violet: hsl(276, 55%, 52%);
  --text-color-desaturate-dark-violet: hsl(271, 15%, 43%);
  --text-color-grayish-blue: hsl(206, 6%, 79%);
  --text-color-very-desaturate-dark-violet: hsl(271, 36%, 24%);
  --text-color--dark-grayish-violet: hsl(270, 7%, 64%);
  /*Gradients*/
  --light-magenta: hsl(293, 100%, 63%);
  --light-violet: hsl(264, 100%, 61%);
  /*Secondary*/
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 20%, 96%);
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --very-light-magenta: hsl(289, 100%, 72%);
  /*Typography*/
  --body-copy: 16px;
  --font-family: "Rubik", sans-serif;
}
body {
  font-size: var(--body-copy);
  font-family: var(--font-family);
  background-color: var(--light-grayish-violet);
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.main::before {
  content: " ";
  position: absolute;
  height: 90vh;
  width: 330px;
  background: linear-gradient(
    to bottom,
    var(--light-magenta),
    var(--light-violet)
  );
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  z-index: 1;
  top: 0;
  left: -12px;
}
.header {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
/*Card UI Styles*/
.user-profile {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--white);
  position: relative;
  margin-bottom: 10px;
  margin-left: 22px;
}
.chat-images {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  overflow: hidden;
}
.card-ui {
  width: 240px;
  height: 470px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 10px solid var(--white);
  border-radius: 30px;
  position: relative;
  margin-top: 100px;
  background-color: var(--light-grayish-violet);
  overflow: hidden;
  box-shadow: 5px 11px 27px 4px lightgrey;
}
.card-ui::after {
  content: " ";
  position: absolute;
  width: 150px;
  height: 33px;
  background-color: var(--white);
  top: -12px;
  border-radius: 15px;
}
.chat-images-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}
.app-header {
  width: 100%;
  height: 74px;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(
    to right,
    var(--light-violet),
    var(--light-magenta)
  );
  border-radius: 10px;
}
.app-menu {
  justify-self: flex-start;
}
.dot {
  height: 3px;
  width: 3px;
  background-color: var(--white);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  margin-bottom: 10px;
  top: -24px;
  left: 53px;
}
.dot::after {
  content: "";
  width: 3px;
  height: 3px;
  position: absolute;
  background-color: var(--white);
  border-radius: 50%;
  top: 16px;
}
.dot::before {
  content: "";
  width: 3px;
  height: 3px;
  position: absolute;
  background-color: var(--white);
  border-radius: 50%;
  top: 8px;
}
.content-copy-container {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px 0 40px 0;
}
.copy-title {
  text-align: center;
  color: var(--very-dark-desaturated-violet);
  font-size: 2.3rem;
}
.copy-paragraph {
  text-align: center;
  color: var(--text-color--dark-grayish-violet);
  line-height: 1.8;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.user-status {
  color: var(--text-color-pale-violet);
  font-size: 0.6em;
  margin-top: 2px;
}
.user-name {
  color: var(--white);
  font-size: 0.8em;
}
.user-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 10px;
  margin-left: 5px;
}
.type-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
}
.type-bar-input {
  border-radius: 25px;
  outline: none;
  border-color: transparent;
  padding: 5px 32px;
  font-size: 0.8em;
}
.chat-box {
  width: 75%;
  height: 67px;
  font-size: 0.53em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat-box:nth-child(1) {
  margin-bottom: 10px;
}
.chat-box:nth-child(3) {
  position: relative;
  top: 26px;
}
.chat-box:nth-child(2) {
  position: relative;
  top: -23px;
  align-items: flex-end;
}
.chat-bubble {
  width: 100%;
  height: 46%;
  text-align: left;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 2px;
  align-items: center;
  background-color: hsl(289deg 90% 69% / 20%);
}
.chat-bubble-big {
  height: 78%;
  line-height: 1.5;
  width: 82%;
}
.chat-bubble-small {
  height: 50%;
  background-color: var(--white);
  width: 56%;
  margin-top: 5px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.chat-bubble-text {
  padding: 13px;
  color: hsl(289deg 64% 58%);
  font-weight: 700;
}
.chat-bubble-small-2 {
  width: 96%;
}
.select-btn {
  width: 100%;
  height: 47%;
  background: #7b7267;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 3px;
  display: flex;
  align-items: center;
  color: var(--white);
  background: linear-gradient(
    to right,
    var(--light-magenta),
    var(--light-violet)
  );
}
.radio-btn {
  margin-left: 8px;
}
.select-btn-details {
  margin-left: 5px;
}
.price {
  font-size: 1.5em;
}
.price-1 {
  margin-left: 30px;
}
.price-2 {
  margin-left: 45px;
}
.chat {
  width: 93%;
  height: 74%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.chat-right {
  align-self: flex-end;
}
@media only screen and (min-width: 760px) {
  .content-container {
    flex-direction: row;
    width: 830px;
  }
  .content-copy-container {
    width: 439px;
    margin: 25px 0 40px 53px;
    align-items: flex-start;
  }
  .card-ui {
    margin-top: 0px;
  }
  .copy-title {
    margin-bottom: 30px;
    text-align: start;
  }
  .copy-paragraph {
    text-align: start;
  }
}
